[user]
	name = dhleong
	email = falcone88@gmail.com
[core]
	editor = /usr/bin/vim
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    co = checkout
[color]
	ui = auto
[push]
	default = simple
