.lein/credentials.clj.gpg

.clojure/trace.edn

# transient vim stuff
.vim/.netrwhist
.vim/autoload/plug.vim
.vim/bundle
.vim/sessions
.config/nvim/bundle
.config/nvim/autoload/plug.vim

# don't commit custom zsh plugins
.zsh/plugins
