
################
# OS directories
################
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/

###################################
# Other files at office (:read !ls)
###################################
abs-4.3.zip
asdf
backup
bin
code
droid-inspector.html
eclipse.old
git
minus-api.zip
node_modules
pre-resized-avatar.jpg
resized-avatar.jpg
sessions
squared-avatar.jpg
test.bmp
test.data

####################################
# Dot files/dirs (:read !git status)
####################################
.CFUserTextEncoding
.Trash/
.Xauthority
.android/
.bash_history
.config/
.converted.bmp
.cups/
.eclipse_keyring
.fontconfig/
.gradle/
.hubrrc
.jedi/
.jscreenfix.licence
.lesshst
.local/
.m2/
.node-gyp/
.npm/
.repopickle_.gitconfig
.sqlite_history
.ssh/
.unite/
.vim/.netrwhist
.vim/eclim/doc/tags
.viminfo
.vimsession
.wireshark-etc/
.wireshark/
.zshrc
