
################
# OS directories
################
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/

#########
# Dropbox
#########

Dropbox*

###################################
# Other files at office (:read !ls)
###################################
abs-4.3.zip
asdf
backup
bin
code
droid-inspector.html
eclipse.old
git
minus-api.zip
node_modules
pre-resized-avatar.jpg
resized-avatar.jpg
sessions
squared-avatar.jpg
test.bmp
test.data
untitled folder
creds

####################################
# Dot files/dirs (:read !git status)
####################################
.CFUserTextEncoding
.Trash/
.Xauthority
.android/
.bash_history
.config/
.converted.bmp
.cups/
.eclipse_keyring
.fontconfig/
.gem/
.gradle/
.hubrrc
.jedi/
.jscreenfix.licence
.lesshst
.local/
.m2/
.node-gyp/
.npm/
.repopickle_.gitconfig
.sqlite_history
.ssh/
.twurlrc
.unite/
.vim/.netrwhist
.vim/bundle
.vim/eclim/doc/tags
.viminfo
.vimsession
.wireshark-etc/
.wireshark/
.zshrc


# more, from elayne
.adobe/
.appcfg_cookies
.appcfg_nag
.appletviewer
.bash_profile.macports-saved_2011-06-27_at_18:30:37
.dropbox/
.eclim/
.eclipse/
.flexlmrc
.fontconfig-2.4/
.fonts/
.gdb_history
.gitconfig.bak
.hgrc
.inkscape-etc/
.jline-jython.history
.keystore
.luke
.macports/
.manga-fetcher.tmp
.mediatomb/
.mplayer/
.mysql_history
.packages.yml
.recently-used.xbel
.serverauth.*
.slocdata/
.subversion/
.vimshell/
.wine/
.ypp_42
ActionBarSherlock/
Applications (Parallels)/
Calibre Library/
Dropbox/
Google Drive/
SeriesTracker-v6/
Sites/
VirtualBox VMs/
debug.keystore
htdocs/
manga/
public_html/
rssfs/
synergy.conf
tmp.avi
tmp.jpg
tmp/
wireshark/

# a few more, though some may just get rm'd...
.bashrc
.dbshell
.mongorc.js
.profile
.rnd
.rvm/
.sh_history
.tmp.markdown
.zlogin
gradle/
gradlew
gradlew.bat

# okay just anything:
.*
