[user]
    name = Daniel Leong
    email = me@dhleong.net
[core]
    excludesfile = ~/.gitignore_global
    pager = diff-so-fancy | less --tabs=4 -RFX
[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    co = checkout
    new = !git init && git symbolic-ref HEAD refs/heads/main
    when = log --pretty=format:'%Cgreen%h %Cred%d %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all --grep
[color]
    ui = auto
[push]
    default = simple
[merge]
    tool = unityyamlmerge

[mergetool "unityyamlmerge"]
    trustExitCode = false
    cmd = '/Applications/Unity/Unity.app/Contents/Tools/UnityYAMLMerge' merge -p "$BASE" "$REMOTE" "$LOCAL" "$MERGED"
[pull]
    ff = only

[includeIf "gitdir:~/work/"]
    path = ~/work/.gitconfig
