set ignorecase
set smartcase

set smartjoin

set clipboard=unnamed


" ======= plugins =========================================

set argtextobj
set surround
set commentary
set repeat


" ======= idea-specific config ============================

" stay in normal mode when performing a refactor
" (I almost always hit esc when I get in there anyway)
set idearefactormode=keep

" more magical Join command
set ideajoin

" ======= mappings ========================================


nnoremap H gT
nnoremap L gt

" Enable faster splits navigation
nnoremap <C-J> <C-W>j
nnoremap <C-K> <C-W>k
nnoremap <C-L> <C-W>l
nnoremap <C-H> <C-W>h

nnoremap <tab> >>

" from the Dash plugin
nnoremap <space>K :action SmartSearchAction<cr>

nnoremap gid :action GotoImplementation<cr>
nnoremap gpr :action ChooseRunConfiguration<cr>

" 'sync'; so we don't have to use the mouse to do this
" whenever we change gradle configs
nnoremap gps :action Android.SyncProject<cr>

" 'go java refactor'
nnoremap gjr :action Refactorings.QuickListPopupAction<cr>
vnoremap gjr :action Refactorings.QuickListPopupAction<cr>

nnoremap <space>ir :action android.deploy.ApplyChanges<cr>
nnoremap <space>ic :action android.deploy.CodeSwap<cr>
nnoremap <space>pb :action CompileDirty<cr>
nnoremap <space>pr :action Run<cr>

nnoremap <space>jc :action ShowIntentionActions<cr>
nnoremap <space>jr :action RenameElement<cr>
nnoremap <space>js :action FindUsages<cr>
nnoremap <space>jn :action NewClass<cr>

nnoremap <space>si :action StepInto<cr>
nnoremap <space>so :action StepOut<cr>
nnoremap <space>sn :action StepOver<cr>

nnoremap <space>gc :action ChangesView.Commit<cr>
nnoremap <space>gp :action Vcs.Push<cr>

nnoremap <space>nf :action Kotlin.NewFile<cr>
nnoremap <space>ns :action Kotlin.NewScript<cr>

nnoremap <space>fl :action Flutter.Toolbar.ReloadAction<cr>
