set ignorecase
set smartcase

nnoremap H gT
nnoremap L gt

nnoremap gpr :action ChooseRunConfiguration<cr>
nnoremap <space>pb :action Compile<cr>
nnoremap <space>pr :action Run<cr>
nnoremap <space>jc :action ShowIntentionActions<cr>
nnoremap <space>js :action FindUsages<cr>

nnoremap <space>si :action StepInto<cr>
nnoremap <space>so :action StepOut<cr>
nnoremap <space>sn :action StepOver<cr>
